node_modules/

dist/*
build/*
dev/*
typings/*

build-env/*
!build-env/assets/
!build-env/typescript/
!build-env/pkg-cache
!build-env/package.json
!build-env/package-lock.json

.vscode
.vs
.env
/.idea/
